---
import LargeList from "./LargeList.astro";
import MainText from "../homepage/MainText.astro";
import HomeLinks from "../homepage/HomeLinks.astro";
---

<div
    class="flex flex-col justify-between md:h-[100vh] h-[100svh] touch-none py-[1em]"
>
    <!-- <Nav /> -->
    <LargeList />
    <MainText />
    <!-- <WorkList /> -->
    <HomeLinks />
</div>
