---
import { mailto } from "../content.js";
---

<section>
    <div
        class="c flex flex-col items-center md:text-[vmin] text-[8vmin] leading-[.9em] text-center"
    >
        <h3 class="max-w-[25ch]">
            <span class="font-bold">INDEPENDENT</span>
            <br />
            <span class="f-gs"> CREATIVE</span> DIRECTOR <br /> AND DEVELOPER WORKING
            WITH AG<span class="ft-alt">E</span>NCIES <br /> AND BRANDS
        </h3>
        <!-- Intermezzo -->
        <!-- <p class="text-[10px] leading-[1.2em] max-w-[100ch]">
            HAVE A PROJECT IN MIND? REACH OUT AT THE EMAIL BELOW. I ALSO WORK
            WITH SOME AMAZING AGENCIES AND FREELANCER TEAMS I CAN INTRODUCE YOU
            TO
        </p> -->
        <!-- Email -->
        <a href={mailto} class="max-w-[25ch] hover:opacity-50"
            >(HELLO@FEDERIC.OOO)</a
        >
        <p class="max-w-[25ch]">
            ITALY, WORLD <br /> ©2024
        </p>
    </div>
</section>
