---
import Layout from "../layouts/NoScript.astro";
// import Section from "../components/Section.jsx";
import Card from "../components/LinkCard.astro";

const SOCIAL = [
  {
    name: "Twitter",
    url: "https://twitter.com/fdcooo",
  },
];

const LIVE = [
  {
    name: "Youtube",
    url: "https://www.youtube.com/@fdrcooo",
  },
  {
    name: "Twitch",
    url: "https://www.twitch.tv/fdrcooo",
  },
];

const CODE = [
  {
    name: "CodeSandbox",
    url: "https://codesandbox.io/u/vallafederico",
  },
  {
    name: "GitHub",
    url: "https://github.com/vallafederico",
  },
];

const DESIGN = [
  {
    name: "Behance",
    url: "https://www.behance.net/FedericoValla",
  },
  {
    name: "Dribbble",
    url: "https://dribbble.com/federicooo",
  },
];

const WORK = [
  {
    name: "Linkedin",
    url: "https://www.linkedin.com/in/federicovalla/",
  },
];

const CONTACTS = [
  {
    name: "Email",
    url: "mailto:hello@federic.ooo",
  },
];
---

<Layout title="federic.ooo @ Links" route="home">
  <main>
    <div class="mobile-w ml-[40%]">
      <!-- START -->
      <Card data={SOCIAL} index="A" />
      <Card data={LIVE} index="B" />
      <Card data={CODE} index="C" />
      <Card data={CONTACTS} index="D" />
    </div>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
</style>
