---
import Layout from "../layouts/Page.astro";
import Section from "../components/Section.astro";
import ELink from "../components/ELink.astro";

const mailTo = "mailto:federico@federic.ooo";
---

<Layout title="Federic.ooo @ 2022" route="home">
  <main
    class="flex flex-col justify-between md:h-[100vh] h-[100svh] touch-none"
  >
    <Section>
      <div class="c flex justify-between">
        <h1 class="md:w-1/3">FEDERICO VALLA</h1>
        <p class="hidden md:block font-bold w-1/2 text-center">
          TEMPORARY WEBSITE
        </p>
        <p class="md:w-1/3 text-right">👀</p>
      </div>
    </Section>
    <Section>
      <div
        class="c flex flex-col items-center md:text-[vmin] text-[8vmin] leading-[.9em] text-center"
      >
        <h3 class="max-w-[25ch]">
          <span class="font-bold">INDEPENDENT</span>
          <br />
          <span class="f-gs"> CREATIVE</span> DIRECTOR <br /> AND DEVELOPER WORKING
          WITH AG<span class="ft-alt">E</span>NCIES <br /> AND BRANDS
        </h3>
        <!-- Intermezzo -->
        <p class="text-[10px] leading-[1.4em] max-w-[100ch]">
          HAVE A PROJECT IN MIND? FEEL FREE TO REACH OUT AT THE EMAIL BELOW. I
          ALSO WORK WITH SOME AMAZING AGENCIES AND FREELANCER TEAMS I CAN
          INTRODUCE YOU TO
        </p>
        <!-- Email -->
        <a href={mailTo} class="max-w-[25ch] hover:opacity-50"
          >(HELLO@FEDERIC.OOO)</a
        >
        <p class="max-w-[25ch]">
          ITALY, WORLDWIDE <br /> ©2022
        </p>
      </div>
    </Section>
    <Section>
      <div class="c flex justify-between uppercase">
        <ul class="baseline">
          <li><ELink href="https://federic.ooo/s/twitter">Twitter</ELink></li>
          <li><ELink href="https://federic.ooo/s/behance">Behance</ELink></li>
          <li><ELink href="https://federic.ooo/s/dribbble">Dribbble</ELink></li>
          <li><ELink href="https://federic.ooo/s/linkedin">Linkedin</ELink></li>
          <!-- <li><ELink href="https://federic.ooo/s/awwwards">Awwwards</ELink></li> -->
        </ul>
        <ul class="text-right flex flex-col justify-end">
          <li><ELink href="https://federic.ooo/s/github">GitHub</ELink></li>
          <li>
            <ELink href="https://federic.ooo/s/codesandbox">Codesandbox</ELink>
          </li>
        </ul>
      </div>
      <div class="c flex justify-between mt-4">
        <h2 class="font-bold">© HTTPS://FEDERIC.OOO</h2>
        <a href={mailTo}> EMAIL</a>
      </div>
    </Section>
  </main>
</Layout>

<style>

</style>
