---
import Layout from "../layouts/Page.astro";
import Section from "../components/Section.astro";
import ELink from "../components/ELink.astro";

const mailTo = "mailto:federico@federic.ooo";
---

<Layout title="Federic.ooo @ 2022" route="home">
  <main
    class="flex flex-col justify-between md:h-[100vh] h-[100svh] touch-none"
  >
    <div>
      <!-- Nav -->
      <Section className="h-full text-[10px]">
        <div class="c uppercase md:flex justify-between">
          <h1 class="">Federico Valla</h1>
          <div class="flex justify-between md:w-1/3">
            <p>temporary website</p>
            <p>Available from November 2022</p>
            <a class="font-bold" target="_blank" href="mailto:hello@federic.ooo"
              >email</a
            >
          </div>
        </div>
      </Section>

      <!-- Name -->
      <Section className="h-full">
        <div class="c uppercase flex justify-center my-[10vh]">
          <figure class="text-center text-[10vw]">
            FED<span class="ft-alt">E</span>RICOOO
          </figure>
        </div>
      </Section>
    </div>

    <!-- Cta -->
    <Section className="h-full">
      <div class="c uppercase flex flex-col items-center">
        <div class="flex w-[50vw] justify-between font-bold mb-[1em]">
          <a target="_blank" href="mailto:hello@federic.ooo">Email</a>
          <a target="_blank" href="https://www.linkedin.com/in/federicovalla/"
            >Linkedin</a
          >
          <a target="_blank" href="https://twitter.com/fdcooo">Twitter</a>
        </div>
        <h2
          class="md:text-[1.6vw] text-[5vw] max-w-[60ch] text-center leading-[1.2em]"
        >
          <p class="max-w-[25ch]">
            ITALY, WORLDWIDE <br /> ©2022
          </p>
        </h2>
      </div>
    </Section>
    <Section>
      <div class="c flex justify-between uppercase">
        <ul class="baseline">
          <li><ELink href="https://federic.ooo/s/twitter">Twitter</ELink></li>
          <li><ELink href="https://federic.ooo/s/behance">Behance</ELink></li>
          <li><ELink href="https://federic.ooo/s/dribbble">Dribbble</ELink></li>
          <li><ELink href="https://federic.ooo/s/linkedin">Linkedin</ELink></li>
          <!-- <li><ELink href="https://federic.ooo/s/awwwards">Awwwards</ELink></li> -->
        </ul>
        <ul class="text-right flex flex-col justify-end">
          <li><ELink href="https://federic.ooo/s/github">GitHub</ELink></li>
          <li>
            <ELink href="https://federic.ooo/s/codesandbox">Codesandbox</ELink>
          </li>
        </ul>
      </div>
      <div class="c flex justify-between mt-4">
        <h2 class="font-bold">© HTTPS://FEDERIC.OOO</h2>
        <a href={mailTo}> EMAIL</a>
      </div>
    </Section>
  </main>
</Layout>

<style>

</style>
