---
import Layout from "../layouts/Page.astro";
import Section from "../components/Section.jsx";
---

<Layout title=" 👀 Federic.ooo @ 2022" route="home">
  <main
    class="flex flex-col justify-between pb-[2em] max-h-[100vh] max-w-[100vw] overflow-hidden"
  >
    <div>
      <!-- Nav -->
      <Section className="h-full text-[10px]">
        <div class="c uppercase md:flex justify-between">
          <h1 class="">Federic.ooo</h1>
          <div class="flex justify-between md:w-1/3">
            <p>temporary website</p>
            <p>Available from November 2022</p>
            <a class="font-bold" target="_blank" href="mailto:hello@federic.ooo"
              >email</a
            >
          </div>
        </div>
      </Section>

      <!-- Name -->
      <Section className="h-full">
        <div class="c uppercase flex justify-center my-[10vh]">
          <figure class="text-center text-[10vw]">
            FED<span class="ft-alt">E</span>RICOOO
          </figure>
        </div>
      </Section>
    </div>

    <!-- Cta -->
    <Section className="h-full">
      <div class="c uppercase flex flex-col items-center">
        <div class="flex w-[50vw] justify-between font-bold mb-[1em]">
          <a target="_blank" href="mailto:hello@federic.ooo">Email</a>
          <a target="_blank" href="https://www.linkedin.com/in/federicovalla/"
            >Linkedin</a
          >
          <a target="_blank" href="https://twitter.com/fdcooo">Twitter</a>
        </div>
        <h2
          class="md:text-[1.6vw] text-[5vw] max-w-[60ch] text-center leading-[1.2em]"
        >
          FREELANCE CREATIVE DIRECTOR WORKING WITH AGENCIES AND CLIENTS, MAKING
          COOL THINGS ON THE WEB. FOR NOW MY PORTFOLIO IS NOT ONE OF THOSE,
          LOOKS LIKE. — WORLD, ITALY (GMT+1)
        </h2>
        <figure class="my-[3vh]">👀</figure>
      </div>
    </Section>
  </main>
</Layout>

<style>

</style>
