---
import Layout from "../layouts/NoScript.astro";
// import Section from "../components/Section.jsx";

const LINKS = [
  {
    name: "Portfolio",
    url: "/",
  },
];

const SOCIAL = [
  {
    name: "Twitter",
    url: "https://twitter.com/fdcooo",
  },
  {
    name: "Instagram",
    url: "https://www.instagram.com/fpalla",
  },
  {
    name: "Linkedin",
    url: "https://www.linkedin.com/in/federicovalla/",
  },
  {
    name: "Behance",
    url: "https://www.behance.net/FedericoValla",
  },
  {
    name: "Dribbble",
    url: "https://dribbble.com/federicooo",
  },
  {
    name: "CodeSandbox",
    url: "https://codesandbox.io/u/vallafederico",
  },
  {
    name: "GitHub",
    url: "https://github.com/vallafederico",
  },
];
---

<Layout title="Federic.ooo @ Links" route="home">
  <main>
    <div class="min-h-[10vh] border"></div>
    <div class="min-h-[10vh] border"></div>

    <div class="mobile-w border">
      <div class="flex flex-col text-[10px] italic">
        {
          SOCIAL.map((link) => {
            return (
              <a
                href={link.url}
                target="_blank"
                rel="noopener noreferrer"
                class=" uppercase my-[1em] border"
              >
                {link.name}
              </a>
            );
          })
        }
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mobile-w {
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 0.7/1;

    display: flex;
    justify-content: center;
  }
</style>
