---
import Layout from "../layouts/NoScript.astro";
// import Section from "../components/Section.jsx";
---

<Layout title=" 👀 Federic.ooo @ Links" route="home">
  <div></div>
</Layout>

<style>

</style>
