---
const { data, index, name } = Astro.props;
console.log(data);
---

<div class="flex flex-col content-start my-8">
  <p>( <span class="f-gs">{index}</span> )</p>
  <div class="Box flex flex-col mt-3">
    {
      data.map((item) => (
        <div class="flex flex-row">
          <a href={item.url}>{item.name}</a>
        </div>
      ))
    }
  </div>
</div>

<style>
  .Box {
    position: relative;
  }

  .Box:before {
    content: "—";
    position: absolute;
    right: 150%;
    font-size: 10px;
  }

  a {
    text-transform: uppercase;
    line-height: 2em;
    padding-left: 3em;
  }
</style>
