---
import Section from "./Section.astro";
---

<Section>
    <!-- Nav -->
    <div class="c flex justify-between">
        <h1 class="md:w-1/3">FEDERICO VALLA</h1>
        <p class="hidden md:block font-bold w-1/2 text-center">
            TEMPORARY WEBSITE
        </p>
        <p class="md:w-1/3 text-right">👀</p>
    </div>
</Section>
